

@font-face {
    font-family: 'bb';
    src: url('../fonts/Barlow-Bold.woff2') format('woff2'),
        url('../fonts/Barlow-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'l';
    src: url('../fonts/LaloGroteskRegular.woff2') format('woff2'),
        url('../fonts/LaloGroteskRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'lm';
    src: url('../fonts/LaloGroteskMedium.woff2') format('woff2'),
        url('../fonts/LaloGroteskMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'h';
    src: url('../fonts/HansonBold.woff2') format('woff2'),
        url('../fonts/HansonBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'EB';
    src: url('../fonts/ElleBaskerville-Bold.woff2') format('woff2'),
        url('../fonts/ElleBaskerville-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'EBI';
    src: url('../fonts/ElleBaskerville-BoldItalic.woff2') format('woff2'),
        url('../fonts/ElleBaskerville-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'EI';
    src: url('../fonts/ElleBaskerville-Italic.woff2') format('woff2'),
        url('../fonts/ElleBaskerville-Italic.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'ESB';
    src: url('../fonts/ElleBaskerville-SemiBold.woff2') format('woff2'),
        url('../fonts/ElleBaskerville-SemiBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'ESBI';
    src: url('../fonts/ElleBaskerville-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/ElleBaskerville-SemiBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'E';
    src: url('../fonts/ElleBaskerville.woff2') format('woff2'),
        url('../fonts/ElleBaskerville.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'AH';
    src: url('../fonts/AvenirHeavy.woff2') format('woff2'),
        url('../fonts/AvenirHeavy.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}
