header {
    font-family: AH;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 3;

    nav {
        .container-fluid {
            ul {
                display: flex;
                margin-top: 30px;

                li {
                    display: flex;
                    margin: 0 15px;
                    cursor: pointer;
                    width: 90px;
                    a {
                        color: $black-cl;
                        font-size: 11px;
                        font-family: arial;
                        font-weight: bolder;
                    }

                    img {
                        width: 20px;
                        margin-left: 10px;
                        transition: all 0.3s;
                    }

                    &:hover {
                        opacity: 0.6;
                        transition: all 0.5s;
                    }

                    &:hover img {
                        margin-left: 20px;
                        transition: all 0.5s;
                    }
                }




            }
        }
    }
}